@media (max-width: 1200px) {

  /* header */

  .header__top {
    padding-top: 28px;
  }

  /* hero */

  .hero {
    /* padding-top: 116px; */
    padding-bottom: 135px;
  }

  .hero__title {
    font-size: 50px;
    margin-bottom: 16px;
  }

  .hero__descr {
    margin-bottom: 64px;
  }

  .hero__image {
    padding-top: 100px;
  }

  /* benefits */

  .benefits {
    padding-bottom: 57px;
  }

  .benefits__img {
    padding-top: 24px;
  }

  .benefits__img img {
    min-width: 100%;
  }

  /* teachers */

  .teachers {
    padding-bottom: 28px;
  }

  .teacher {
    margin-bottom: 22px;
  }

  /* courses */
  .courses {
    padding-bottom: 49px;
  }

  .courses-item {
    padding-top: 63.9%;
    padding-right: 23px;
  }

  .course-one {
    background-image: url('../img/course-1-tablet.jpg');
  }

  .course-two {
    background-image: url('../img/course-2-tablet.jpg');
  }

  .course-three {
    background-image: url('../img/course-3-tablet.jpg');
  }

  .course-four {
    background-image: url('../img/course-4-tablet.jpg');
  }

  .courses-item__content {
    margin-bottom: 29px;
  }

  .courses-item__btn {
    padding: 21px 55px;
  }

  .courses__time {
    right: 11px;
  }
}

@media (max-width: 992px) {

  /* benefits */

  .benefits__item {
    padding-left: 0;
    padding-top: 96px;
    background-position: left 4px;
  }
}

@media (max-width: 767px) {

  /* header */

  .header__content {
    justify-content: center;
  }

  .header__logo {
    margin: auto;
    margin-bottom: 31px;
  }

  /* hero */

  .hero__content {
    padding-top: 63px;
  }

  .hero__image {
    display: none;
  }

  /* benefits */

  .benefits {
    padding-bottom: 39px;
  }

  .benefits__img {
    padding-top: 0px;
  }

  .benefits__item {
    padding-top: 94px;
  }

  /* teachers */

  .teachers {
    padding-bottom: 51px;
  }

  /* courses */

  .courses-item {
    padding-top: 87.9%;
    padding-right: 15px;
  }

  .course-one {
    background-image: url('../img/course-1-tabletmini.jpg');
  }

  .course-two {
    background-image: url('../img/course-2-tabletmini.jpg');
  }

  .course-three {
    background-image: url('../img/course-3-tabletmini.jpg');
  }

  .course-four {
    background-image: url('../img/course-4-tabletmini.jpg');
  }

  .courses-item__content {
    margin-bottom: 34px;
  }

  .courses-item__title {
    line-height: 130%;
  }

  .courses-item__btn {
    padding: 21px 48px;
  }
}

@media (max-width: 575px) {

  /* header */

  .burger-open,
  .nav-close {
    display: block;
  }

  .header__content {
    justify-content: space-between;
    align-items: center;
  }


  .header {
    position: relative;
    overflow: hidden;
  }

  .header__top {
    padding: 28px 0 21px 0;
    z-index: 1;
  }

  .header-nav {
    position: absolute;
    top: -43px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding-top: 42px;
    padding-left: 15px;
    padding-right: 15px;
    width: 41%;
    min-width: 100%;
    height: 150vh;
    background: #2F2C45;
    opacity: 0;
    transform: translateX(100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
    visibility: hidden;
  }

  .header-nav.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .header-nav__list {
    display: block;
  }

  .header-nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 56px;
  }

  .nav-close {
    margin-left: auto;
    margin-bottom: 22px;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .header__logo {
    margin: 0;
  }

  /* hero */

  .hero {
    padding-bottom: 51px;
    position: relative;
    z-index: -1;
  }

  .hero__content {
    padding-top: 35px;
  }

  .hero__title {
    font-size: 30px;
    margin-bottom: 6px;
  }

  .hero__descr {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 43px;
  }

  .hero__btn {
    padding: 20px 53.5px;
    font-size: 16px;
    line-height: 19px;
  }

  /* benefits */

  .benefits {
    padding-top: 50px;
    padding-bottom: 33px;
  }

  .benefits__img {
    display: none;
  }

  .benefits__title {
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 3px;
  }

  .benefits__descr {
    margin-bottom: 7px;
  }

  .benefits__item {
    padding: 17px 0;
    padding-left: 110px;
    background-position: left center;
  }

  /* teachers */

  .teachers {
    padding-top: 47px;
    padding-bottom: 27px;
  }

  .teachers__title {
    font-size: 20px;
    margin-bottom: 27px;
  }

  /* courses */

  .courses {
    padding-top: 46px;
    padding-bottom: 20px;
  }

  .courses__title {
    font-size: 20px;
    margin-bottom: 27px;
  }

  .courses-item {
    padding-top: 72.9%;
    padding-right: 27px;
    min-height: 653px;
  }

  .course-one {
    background-image: url('../img/course-1-mobile.jpg');
  }

  .course-two {
    background-image: url('../img/course-2-mobile.jpg');
  }

  .course-three {
    background-image: url('../img/course-3-mobile.jpg');
  }

  .course-four {
    background-image: url('../img/course-4-mobile.jpg');
  }

  /* .courses-item__content {
    margin-bottom: 81px;
  } */

  .courses-item__title {
    max-width: 195px;
    line-height: 130%;
  }

  .courses-item__btn {
    padding: 21px 56px;
  }

}
